<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbumes Favoritos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <a href="/" class="back-button">Volver a la Página Principal</a>

    <section>
    <div class="box">
    <h2>Álbumes Favoritos</h2>
    <p>Algunos de mis albumes favoritos de 2024.</p>
</div>
    <div class="gallery albumes">
        {% for album, description in album_covers %}
            <div class="image-container">
                <img src="/static/images/{{ album }}" alt="Álbum favorito">
                <div class="description">{{ description }}</div>
            </div>
        {% endfor %}
    </div>
</section>
        <section>
        <ul>
            <li>Minutos escuchados en el año: {{ stats.minutos }}</li>
            <li>Albumes de 2024 escuchados: {{ stats.nuevos }}</li>
        </ul>
    </section>
<div class="typing-container">
    <p>Bienvenido a mi página...<span class="cursor"></span></p>

</div>

</body>
</html>
