<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <a href="/" class="back-button">Volver a la Página Principal</a>

    <section>
        <ul>
            <h1>Gimnasio</h1>
            <li>Entrenamientos del año: {{ stats.entrenamientos }}</li>
            <li>Días de pierna: {{ stats.pierna }}</li>
            <li>Días de Espalda y bíceps: {{ stats.espalda }}</li>
            <li>Días de Pecho, Hombro y tríceps: {{ stats.pecho }}</li>

        </ul>
        <div class="gallery gimnasio">
            <div class="image-container">
                <img src="/static/images/gimnasio/graf.jpg" alt="grafico">
                <div class="description">Gráfico gimnasio 2024</div>
            </div>
        </div>
        <a href="https://docs.google.com/spreadsheets/d/1TaBlnMxAQdR_aN253d_pJESxnXhNe7MRmkJjhRmouIE/edit?gid=0#gid=0" class="nav-link" target="_blank">Más</a>
    </section>

</body>
</html>
