<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas Favoritas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Botón para regresar a la página principal -->
    <a href="/" class="back-button">Volver a la Página Principal</a>

    <div class="box">
        <h2>Películas Favoritas de 2024</h2>
        <p>Mis películas favoritas del año.</p>
    </div>

    <!-- Sección de Películas -->
    <section>
        <div class="gallery peliculas">
    {% for image, description in movie_covers %}
        {% if loop.index <= 8 %}
            <div class="image-container">
                <img src="/static/images/{{ image }}" alt="Película">
                <div class="description">{{ description }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Mostrar el mensaje después de los primeros 6 ciclos -->
{% if movie_covers|length > 8 %}
    <div class="box">
        <h2>Películas Vistas 2024</h2>
        <p>Mis películas favoritas del año vistas por primera vez.</p>
    </div>
{% endif %}

<!-- Mostrar los siguientes 8 elementos -->
<div class="gallery peliculas">
    {% for image, description in movie_covers[8:] %}
        <div class="image-container">
            <img src="/static/images/{{ image }}" alt="Película">
            <div class="description">{{ description }}</div>
        </div>
    {% endfor %}
</div>
    </section>

    <ul>
        <li>Películas vistas en el año: {{ stats.vistas }}</li>
        <li>Películas de 2024 vistas: {{ stats.año }}</li>
        <li>Vistas por primera vez: {{ stats.primera }}</li>
        <li>Vistas en el cine: {{ stats.cine }}</li>
        <a href="https://letterboxd.com/RodrigoSalas/" class="nav-link" target="_blank">Mí Letterboxd</a>
    </ul>
</body>
</html>
