<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas Favoritas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Botón para regresar a la página principal -->
    <a href="/" class="back-button">Volver a la Página Principal</a>

    <!-- Sección de Películas -->
    <section>
        <div class="box">
            <h2>Películas de 2024</h2>
            <p>Mis películas favoritas del año.</p>
        </div>
        <div class="gallery peliculas">
            {% for image, description in movie_covers %}
                <div class="image-container">
                    <img src="/static/images/{{ image }}" alt="Película">
                    <div class="description">{{ description }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Sección de Películas Vistas -->
    <section>
        <div class="box">
            <h2>Películas Vistas 2024</h2>
            <p>Mis películas favoritas del año vistas por primera vez.</p>
        </div>
        <div class="gallery pelis">
            {% for image, description in movie_posters %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/pelis/peli1.jpg') }}" alt="Película">
                    <div class="description">{{ description }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Efecto de Bienvenida -->
    <div class="typing-container">
        <p>Bienvenido a mi página...<span class="cursor"></span></p>
    </div>
</body>
</html>
